extends layout.pug 

block title 
    title BDA - Contact

block content
    div.contactFormSection
        h2(style="margin: 15px auto;") Contact Us
        form(action="/contact", method="post")
            input(type="email" name="email" id="email" placeholder="Enter your email address" required)
            select(name="issue" required)
                option(value="" selected) --Select Your query-- 
                option(value="signup-issue") signup issue 
                option(value="services-issue") Services 
                option(value="Other-issue") Others 
            textarea(name="description" id="description" cols="30" rows="8" style="resize: none;" placeholder="Enter your issue")
            button(type="submit") Submit