extends layout.pug 

block title 
    title BDA - Missions

block content              
    h1.missionHeading Our Missions
    div.mission
        div.cards 
            h3 This is demo title-1
            div.card-box
                div.card-img
                    img(src="/static/mission-img/dance-1.png")
                div.card-content
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, accusantium.
        div.cards 
            h3 This is demo title-2
            div.card-box
                div.card-img
                    img(src="/static/mission-img/dance-2.png")
                div.card-content
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, accusantium.
        div.cards 
            h3 This is demo title-3
            div.card-box
                div.card-img
                    img(src="/static/mission-img/dance-3.png")
                div.card-content
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, accusantium.
        div.cards 
            h3 This is demo title-4
            div.card-box
                div.card-img
                    img(src="/static/mission-img/dance-4.png")
                div.card-content
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, accusantium.
        div.cards 
            h3 This is demo title-5
            div.card-box
                div.card-img
                    img(src="/static/mission-img/dance-5.png")
                div.card-content
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, accusantium.