@font-face {
    font-family: 'Bayon';
    font-style: normal;
    font-weight: 600;
    src: local('Bayon'), local('Bayon-Regular'), url('../static/font/Bayon-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bayon', 'Times New Roman', Times, serif;
}

@media only screen and (min-width: 770px) {

    /* For screens above 770px : */
    #logo {
        display: flex;
        align-items: center;
        margin: 0 40px;
    }

    #logo img {
        height: 45px;
        margin: 0 7px;
    }

    nav ul {
        display: flex;
        background-color: #ff6d6d;
        justify-content: center;
    }

    nav ul li {
        list-style: none;
        padding: 10px 10px;
        margin: 3px 30px;
    }

    nav ul li:hover {
        background-color: #ff3939;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
    }

    .imageSection::before {
        content: '';
        background: no-repeat center/100% url("../static/img.jpg");
        z-index: -1;
        filter: blur(2px);
        position: absolute;
        width: 100%;
        opacity: 0.7;
        min-height: 300px;
    }

    .imageSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 300px;
        color: purple;
        font-size: 2.5rem;
    }

    .imageSection p {
        font-size: 30px;
        line-height: 26px;
        opacity: initial;
        font-weight: bold;
    }

    .imageSection p:nth-child(2) {
        font-size: 21px;
    }

    .formSection {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 800px;
        flex-direction: column;
        background-color: bisque;
    }

    input,
    textarea,
    select {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        padding: 12px 15px;
        width: 60vw;
        border: 2px solid black;
        outline: none;
        border-radius: 5px;
    }

    button {
        display: flex;
        margin: auto;
        border: 1px solid black;
        color: white;
        font-weight: bold;
        background-color: #ff6d6d;
        padding: 8px 17px;
        border-radius: 5px;
        font-size: 1rem;
    }

    button:hover {
        background-color: #ff3939;
    }

    .sponserSection {
        text-align: center;
        height: 200px;
    }

    div#sponsers img {
        width: 80px;
        margin: 20px;
    }

    .sponserSection h2 {
        margin-top: 15px;
    }

    .footerSection {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 50px;
        background-color: black;
    }

    .missionHeading {
        text-align: center;
        background-color: yellow;
    }

    .mission {
        display: grid;
        grid-template-columns: 6fr 6fr;
    }

    .cards {
        margin: 33px 80px;
        border: 2px solid black;
        border-radius: 10px;
        width: 70%;
        height: 231px;
    }

    .cards h3 {
        text-align: center;
        margin-top: 10px;
    }

    .card-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card-img {
        height: 160px;
        padding: 0 14px;
    }

    .card-img img {
        height: inherit;
    }

    .card-content {
        margin: 0 10px;
    }

    .contactFormSection {
        display: flex;
        align-items: center;
        min-height: 550px;
        flex-direction: column;
        background-color: bisque;
    }
}


@media only screen and (max-width: 770px) {

    /* For screens below 770px : */
    #logo {
        display: flex;
        align-items: center;
        font-size: small;
        margin: 0 10px;
    }

    #logo img {
        height: 30px;
    }

    nav ul {
        display: flex;
        background-color: #ff6d6d;
    }

    nav ul li {
        list-style: none;
        padding: 4px 6px;
        margin: 2px 6px;
    }

    nav ul li:hover {
        background-color: #ff3939;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 0.7rem;
    }

    .imageSection::before {
        content: '';
        background: no-repeat center/100% url("../static/img.jpg");
        z-index: -1;
        filter: blur(2px);
        position: absolute;
        width: 100%;
        opacity: 0.7;
        min-height: 150px;
    }

    .imageSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 150px;
        color: purple;
        font-size: 2.5rem;
    }

    .imageSection p {
        font-size: 17px;
        line-height: 15px;
        opacity: initial;
    }

    .imageSection p:nth-child(2) {
        font-size: 14px;
    }

    .formSection {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 800px;
        flex-direction: column;
        background-color: bisque;
    }

    .formSection h2 {
        font-size: 1.2rem;
    }

    input,
    textarea,
    select {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        padding: 12px 15px;
        width: 60vw;
        border: 2px solid black;
        outline: none;
        border-radius: 5px;
    }

    button {
        display: flex;
        margin: auto;
        border: 1px solid black;
        color: white;
        font-weight: bold;
        background-color: #ff6d6d;
        padding: 5px 15px;
        border-radius: 5px;
    }

    .sponserSection {
        text-align: center;
        height: 270px;
    }

    #sponsers {
        display: grid;
        grid-template-columns: 6fr 6fr;
    }

    .sponserSection h2 {
        margin-top: 7px;
    }

    div#sponsers img {
        width: 75px;
        margin: 15px auto;
    }

    .footerSection {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 30px;
        background-color: black;
        font-size: 0.7rem;
    }

    .contactFormSection {
        display: flex;
        align-items: center;
        min-height: 550px;
        flex-direction: column;
        background-color: bisque;
    }
}

@media only screen and (max-width: 900px) {

    /* For screens below 900px : */
    .missionHeading {
        text-align: center;
        background-color: yellow;
    }

    .mission {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cards {
        margin: 20px 30px;
        border: 2px solid black;
        border-radius: 10px;
        width: 70%;
        height: 231px;
    }

    .cards h3 {
        text-align: center;
        margin-top: 10px;
    }

    .card-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card-img {
        height: 170px;
        padding: 0 20px;
    }

    .card-img img {
        height: inherit;
    }

    .card-content {
        margin: 0 15px;
    }
}

@media only screen and (max-width: 400px) {

    /* For screens below 400px : */
    .card-img {
        height: 90px;
        padding: 0 20px;
    }

    .card-content {
        font-size: small;
    }
}